$active: #DD000;
$gray: #e0e1e2;
$darkgray: #555;
$lightgray: #EFEFEF;


.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pagination {

  list-style: none;
  display: flex;
  justify-content: center;

  li {

    border: 1px solid $gray;
    border-radius: 5px;
    margin: 5px;

    a {
      padding: 1rem;
      display: block;
    }

    &:hover {
      cursor: pointer;
    }


  }
}

.selected {
  border: $darkgray 1px solid !important;
  background: $darkgray;

  a {
    color: #FFF;
  }

}

.disabled {
  opacity: 0.25;
}

.table {
  min-height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2rem;

  table {
    width: 100%;
    border-spacing: 0;

    thead {
      font-weight: bold;
    }

    tbody tr:nth-child(even) {
      background: $lightgray
    }

    td {
      padding: 0.25rem 0;
    }
  }


}

.segment {
  width: 100%;
  padding: 1em 0!important;
}

.form {
  display: flex;
  justify-content: center;
  flex-flow: wrap;


  > div {
    margin: 0 1rem!important;
  }
}